* {
  margin: 0px;
  border: border-box;
}

.my-form {
  width: 40% !important;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 40px;
}
.form-group {
  padding: auto;
  /* width: 200px; */
}
.object-wrapper {
  display: flex;
  justify-content: space-between;
}

.object {
  margin: 10px;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url("../images/bs.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.table {
  margin-left: 200px;
  width: 1500px;
}
button {
  margin-top: 3vh;
  width: 25rem;
  margin-left: 4rem;
}

.outer {
  margin-top: 33vh;
}
