* {
  padding: 0;
  margin: 0px;
  font-family: arial;
  border: border-box;
  /* font-size: 1.1rem; */
}

.navbar {
  background-color: #000000;
}
.nav-logo {
  height: 67px;
  width: 90px;
}
.logo {
  background-image: url("../images/ESB-logo.jpeg");
  background-size: cover;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-top: -10px;
}
li a {
  margin-right: 50px;
}
/* hero */
.hero-section {
  padding-top: 4.4rem;
  height: 30rem;
  margin-top: 5px;
}
.carousel-inner img {
  height: 25rem;
  background-size: cover;
}
.carousel-item {
  background-size: cover;
  background-position: center;
}
.text {
  font-size: 3.5rem;
  text-align: center;
  font-family: emoji;
}

@media only screen and (max-width: 780px) {
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 55vw;
    margin-top: 1rem;
    margin-left: -5rem;
  }

  .column {
    width: 100%;
  }
}
